<section>
    <main>
        <header>
            <h1>Calculez vos mensualités</h1>
            <p>Calculez rapidement le montant de vos mensualités de remboursement
                de votre investissement locatif. Vous retrouverez en détails le montant
                du remboursement dû à votre emprint ainsi que le coût des intérêts.
            </p>
        </header>
        <div class="module-container">
            <div class="left-side">
                <div class="input-container">
                    <label>Montant du bien</label>
                    <div class="input-montant">
                        <div class="container">
                            <div class="euro">
                                <span>€</span>
                            </div>
                            <input/>
                        </div>
                    </div>
                </div>
                <img src="../assets/donut.svg" alt="donut" class="donut"></img>
                <div class="display">
                    <div class="line">
                        <div class="dot__red"></div>
                        <label>Mensualité : € / mois</label>
                    </div>
                    <div class="line">
                        <div class="dot__orange"></div>
                        <label>Coût des intérêts : € / mois</label>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="container">
                    <label>Montant de l'apport</label>
                    <div class="range">
                        <input class="slider" type="range" min="0" max="100">
                        <label>... prix</label>
                    </div>
                </div>
                <div class="container">
                    <label>Durée de</label>
                    <div class="range">
                        <input class="slider" type="range" min="0" max="100">
                        <label>Durée ... ans</label>
                    </div>
                </div>
                <div class="container">
                    <label>Taux d'intérêt</label>
                    <div class="range">
                        <input class="slider" type="range" min="0" max="100">
                        <label>... %</label>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>